In [ ]:
%matplotlib notebook

In [ ]:
# Dependencies and Setup
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np


# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df.head()

In [ ]:
Total_Number_of_Players_df = purchase_data_df.loc[:,["SN", "Age", "Gender"]]
Total_Number_of_Players_df = Total_Number_of_Players_df.drop_duplicates()
total_players = Total_Number_of_Players_df.drop_duplicates().count()[0]

#create display dataframe
df = pd.DataFrame({"Total Players": [total_players]})
df

In [ ]:
#Run basic calculations to obtain number of unique items, average price, etc.

item_count = len(purchase_data_df["Item ID"].unique())
item_count

avg = purchase_data_df["Price"].mean()
avg

total_price = purchase_data_df["Price"].sum()
total_price

total_items = purchase_data_df["Item ID"].count()
total_items

In [ ]:
#Create a summary data frame to hold the results
# Number of Unique Items
      
    
summary_df = pd.DataFrame({"Number of Unique Items": [item_count],
                           "Average Price": [avg],
                          "Number of Purchases": [total_items],
                          "Total Revenue": [total_price]})

summary_df.dtypes

In [ ]:
# Optional: give the displayed data cleaner formatting

summary_df['Average Price'] = summary_df['Average Price'].map("${:.2f}".format)
summary_df['Total Revenue'] = summary_df['Total Revenue'].map("${:.2f}".format)

#Display the summary data frame
summary_df

In [146]:
# Filter the data so that only Male in a DataFrame
gender_count = Total_Number_of_Players_df["Gender"].value_counts()
gender_count

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [147]:
 ##create display dataframe
gender_summary_df =  pd.DataFrame({"Total Players": gender_count, "Percentage": (gender_count/total_players)*100}) 
gender_summary_df['Percentage'] = gender_summary_df['Percentage'].map("{:.2f}%".format)
gender_summary_df

                       Total Players Percentage
Male                             484     84.03%
Female                            81     14.06%
Other / Non-Disclosed             11      1.91%

In [150]:
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [148]:
purchase_data_df.Price.mean()

3.050987179487176

In [155]:
purchase_count = purchase_data_df.groupby("Gender").count()

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                         113  113  113      113        113    113
Male                           652  652  652      652        652    652
Other / Non-Disclosed           15   15   15       15         15     15

In [161]:
avg = purchase_data_df.groupby("Gender").Price.mean()

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [160]:
s_total = purchase_data_df.groupby("Gender").Price.sum()

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [167]:
#df.iloc[0:4, 0:3]
#purchase_data_df.iloc[0:4, 0:6].mean()
pid = purchase_data_df.groupby("Gender").Purchase ID.sum()

SyntaxError: invalid syntax (<ipython-input-167-8fd450b6f538>, line 3)

In [ ]:
 ##create display dataframe
purchases_summary_df =  pd.DataFrame({"Purchase Count": purchase_count, 
                                      "Average Purchase Price": (avg),
                                      "Total Purchase Value": s_totalgit , 
                                      "Avg Total Purchase Per Person": (gender_count/total_players)*100
                                     }) 
purchases_summary_df['Percentage'] = gender_summary_df['Percentage'].map("{:.2f}%".format)
purchases_summary_df

In [ ]:

# Reference multiple columns within a DataFrame
Total_Number_of_Players_df.head()

In [ ]:
Total_Number_of_Players_df.groupby('gender').SN.mean()

In [ ]:
#purchasing anlysis (pa) 
purchase_data_df.groupby('gender').

In [ ]:
gender_df = purchase_data_df.groupby(['gender'])
#gender_df
#grouped_usa_df = usa_ufo_df.groupby(['state'])
purchase_data_df.dtype

In [ ]:
#gender_group = Total_Number_of_Players_df.groupby(["Gender"])
#gender_group.value_count()

In [ ]:
#gp = gender_group.count()['SN'].rename('Total')
#gp_df = pd.DataFrame({"Total": [gp],
                   # "Percentage": [gp]/total_players})
#gp_df

In [ ]:
Female_count = Total_Number_of_Players_df["Gender"] == "Female"
Female_percent = (Female_count / total)* 100
Female_percent

In [ ]:

#Percentage and Count of Female Players
Male_percent = (Male_count / total)* 100
Male_percent

In [ ]:

#Percentage and Count of Other / Non-Disclosed
other_percent = (other_count / total)* 100
other_percent

In [ ]:
# PURCHASE ANALYSIS (GENDER)
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
purchase_data_df.describe()

In [ ]:


#Create a summary data frame to hold the results

data_f_df["Female"] = Female_percent
data_f_df.head()

In [ ]:

#Optional: give the displayed data cleaner formatting

In [ ]:

#Display the summary data frame

In [ ]:
 
#Establish bins for ages

In [ ]:
#Categorize the existing players using the age bins. Hint: use pd.cut()

In [ ]:

#Calculate the numbers and percentages by age group

In [ ]:

#Create a summary data frame to hold the results

In [ ]:

#Optional: round the percentage column to two decimal points

In [ ]:

#Display Age Demographics Table

In [ ]:
Bin the purchase_data data frame by age

In [ ]:

Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below

In [ ]:

Create a summary data frame to hold the results

In [ ]:

Optional: give the displayed data cleaner formatting

In [ ]:

Display the summary data frame

In [ ]:
Run basic calculations to obtain the results in the table below

In [ ]:

Create a summary data frame to hold the results

In [ ]:

Sort the total purchase value column in descending order

In [ ]:

Optional: give the displayed data cleaner formatting

In [ ]:

Display a preview of the summary data frame

In [ ]:
Most Popular Items
 
Retrieve the Item ID, Item Name, and Item Price columns

In [ ]:

Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value

In [ ]:
Create a summary data frame to hold the results

In [ ]:

Sort the purchase count column in descending order

In [ ]:


Optional: give the displayed data cleaner formatting

In [ ]:


Display a preview of the summary data frame