In [205]:
%matplotlib notebook

In [206]:
# Dependencies and Setup
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np


# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [207]:
Total_Number_of_Players_df = purchase_data_df.loc[:,["SN", "Age", "Gender"]]
Total_Number_of_Players_df = Total_Number_of_Players_df.drop_duplicates()
total_players = Total_Number_of_Players_df.drop_duplicates().count()[0]

#create display dataframe
df = pd.DataFrame({"Total Players": [total_players]})
df

   Total Players
0            576

In [208]:
#Run basic calculations to obtain number of unique items, average price, etc.

item_count = len(purchase_data_df["Item ID"].unique())
item_count

avg = purchase_data_df["Price"].mean()
avg

total_price = purchase_data_df["Price"].sum()
total_price

total_items = purchase_data_df["Item ID"].count()
total_items

780

In [209]:
#Create a summary data frame to hold the results
# Number of Unique Items
      
    
summary_df = pd.DataFrame({"Number of Unique Items": [item_count],
                           "Average Price": [avg],
                          "Number of Purchases": [total_items],
                          "Total Revenue": [total_price]})

summary_df.dtypes

Number of Unique Items      int64
Average Price             float64
Number of Purchases         int64
Total Revenue             float64
dtype: object

In [210]:
# Optional: give the displayed data cleaner formatting

summary_df['Average Price'] = summary_df['Average Price'].map("${:.2f}".format)
summary_df['Total Revenue'] = summary_df['Total Revenue'].map("${:.2f}".format)

#Display the summary data frame
summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

In [211]:
# Filter the data so that only Male in a DataFrame
gender_count = Total_Number_of_Players_df["Gender"].value_counts()
gender_count

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [212]:
 ##create display dataframe
gender_summary_df =  pd.DataFrame({"Total Players": gender_count, "Percentage": (gender_count/total_players)*100}) 
gender_summary_df['Percentage'] = gender_summary_df['Percentage'].map("{:.2f}%".format)
gender_summary_df

                       Total Players Percentage
Male                             484     84.03%
Female                            81     14.06%
Other / Non-Disclosed             11      1.91%

In [213]:
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [214]:
purchase_data_df.Price.mean()

3.050987179487176

In [232]:
purchase_count = purchase_data_df.groupby("Gender").count()['Purchase ID']
purchase_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [224]:
avg = purchase_data_df.groupby("Gender").Price.mean()
avg

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [ ]:
gender_count_F = Total_Number_of_Players_df["Gender"].value_counts()["Female"]
gender_count_F

In [222]:
s_total = purchase_data_df.groupby("Gender").Price.sum()
s_total

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [218]:
#df.iloc[0:4, 0:3]
#purchase_data_df.iloc[0:4, 0:6].mean()
#
#pid = purchase_data_df.groupby("Gender").'Purchase ID'.sum() 
#pid = purchase_data_df.groupby("Gender").mean()['Purchase ID']
#pid = purchase_data_df.groupby("Gender").mean()['Price']
#pid

#average_item_price = purchase_data_df["Price"].mean()
pid = s_total /gender_summary_df["Total Players"]
pid

Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [236]:
##create display dataframe
purchases_summary_df =  pd.DataFrame({"Purchase Count": purchase_count, 
                                     "Average Purchase Price": (avg),
                                      "Total Purchase Value": s_total, 
                                    "Avg Total Purchase Per Person": pid}) 

purchases_summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [237]:
purchases_summary_df['Average Purchase Price'] = purchases_summary_df['Average Purchase Price'].map("${:.2f}".format)
purchases_summary_df['Total Purchase Value'] = purchases_summary_df['Total Purchase Value'].map("${:.2f}".format)
purchases_summary_df['Avg Total Purchase Per Person'] = purchases_summary_df['Avg Total Purchase Per Person'].map("${:.2f}".format)
purchases_summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [ ]:
Total_Number_of_Players_df.groupby('gender').SN.mean()

In [ ]:
#purchasing anlysis (pa) 
purchase_data_df.groupby('gender').

In [ ]:
gender_df = purchase_data_df.groupby(['gender'])
#gender_df
#grouped_usa_df = usa_ufo_df.groupby(['state'])
purchase_data_df.dtype

In [ ]:
#gender_group = Total_Number_of_Players_df.groupby(["Gender"])
#gender_group.value_count()

In [ ]:
#gp = gender_group.count()['SN'].rename('Total')
#gp_df = pd.DataFrame({"Total": [gp],
                   # "Percentage": [gp]/total_players})
#gp_df

In [ ]:
Female_count = Total_Number_of_Players_df["Gender"] == "Female"
Female_percent = (Female_count / total)* 100
Female_percent

In [ ]:

#Percentage and Count of Female Players
Male_percent = (Male_count / total)* 100
Male_percent

In [ ]:

#Percentage and Count of Other / Non-Disclosed
other_percent = (other_count / total)* 100
other_percent

In [ ]:
# PURCHASE ANALYSIS (GENDER)
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
purchase_data_df.describe()

In [ ]:


#Create a summary data frame to hold the results

data_f_df["Female"] = Female_percent
data_f_df.head()

In [ ]:

#Optional: give the displayed data cleaner formatting

In [ ]:

#Display the summary data frame

In [ ]:
 
#Establish bins for ages

In [ ]:
#Categorize the existing players using the age bins. Hint: use pd.cut()

In [ ]:

#Calculate the numbers and percentages by age group

In [ ]:

#Create a summary data frame to hold the results

In [ ]:

#Optional: round the percentage column to two decimal points

In [ ]:

#Display Age Demographics Table

In [ ]:
Bin the purchase_data data frame by age

In [ ]:

Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below

In [ ]:

Create a summary data frame to hold the results

In [ ]:

Optional: give the displayed data cleaner formatting

In [ ]:

Display the summary data frame

In [ ]:
Run basic calculations to obtain the results in the table below

In [ ]:

Create a summary data frame to hold the results

In [ ]:

Sort the total purchase value column in descending order

In [ ]:

Optional: give the displayed data cleaner formatting

In [ ]:

Display a preview of the summary data frame

In [ ]:
Most Popular Items
 
Retrieve the Item ID, Item Name, and Item Price columns

In [ ]:

Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value

In [ ]:
Create a summary data frame to hold the results

In [ ]:

Sort the purchase count column in descending order

In [ ]:


Optional: give the displayed data cleaner formatting

In [ ]:


Display a preview of the summary data frame