In [31]:
%matplotlib notebook

In [32]:
# Dependencies and Setup
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np


# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [33]:
Total_Number_of_Players_df = purchase_data_df.loc[:,["SN", "Age", "Gender"]]
total = Total_Number_of_Players_df.drop_duplicates().count()[0]

df = pd.DataFrame({"Total Players": [total]})
df

   Total Players
0            576

In [79]:
#Run basic calculations to obtain number of unique items, average price, etc.

item_count = len(purchase_data_df["Item ID"].unique())
item_count

avg = purchase_data_df["Price"].mean()
avg

total_price = purchase_data_df["Price"].sum().astype("float")
total_price

total_items = purchase_data_df["Item ID"].count()
total_items

780

In [80]:
#Create a summary data frame to hold the results
# Number of Unique Items
      
    
summary_df = pd.DataFrame({"Number of Unique Items": [item_count],
                           "Average Price": [avg],
                          "Number of Purchases": [total_items],
                          "Total Revenue": [total_price]})

summary_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [81]:
summary_df.dtypes

Number of Unique Items      int64
Average Price             float64
Number of Purchases         int64
Total Revenue             float64
dtype: object

In [68]:
#summary_df['Total Revenue']

In [82]:
# Optional: give the displayed data cleaner formatting

summary_df['Average Price'] = summary_df['Average Price'].map("${:.2f}".format)
summary_df['Total Revenue'] = summary_df['Total Revenue'].map("${:.2f}".format)
#summary_df['Total Revenue', 'Average Price']
#summary_df.dtypes

In [11]:
#Display the summary data frame
summary_df

   Number of Unique Items  Average Price  Number of Purchases Total Revenue
0                     179       3.050987                  780      $2379.77

In [89]:
#Percentage and Count of Male Players

gender_count_M = purchase_data_df["Gender"].value_counts()["Male"]
gender_count_M

652

In [90]:
gender_count_F = purchase_data_df["Gender"].value_counts()["Female"]
gender_count_F

113

In [113]:
# Filter the data so that only Male in a DataFrame
gender_count_O = purchase_data_df["Gender"].value_counts()["Other / Non-Disclosed"]
gender_count_O

15

In [107]:
gender_count = purchase_data_df["Gender"].value_counts()
gender_count

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [109]:
    
gender_summary_df = pd.DataFrame({"Total Count": [gender_count],
                           "Percentage of Players": [gender_count/total],
                         })

gender_summary_df

,Total Count,Percentage of Players
0,Male 652 Female ...,Male 1.131944 Female ...

In [86]:

# Reference multiple columns within a DataFrame
purchase_data_df[["Gender", "Price"]].head()

  Gender  Price
0   Male   3.53
1   Male   1.56
2   Male   4.88
3   Male   3.27
4   Male   1.44

In [93]:
#gender_df = purchase_data_df.groupby(['Purchase ID', 'gender'])
#gender_df.count()

In [94]:
gender_group = purchase_data_df.groupby(["Gender"])
gender_group

In [103]:
Female_count = purchase_data_df["Gender"] == "Female"
Female_percent = (Female_count / total)* 100
Female_percent

0      0.000000
1      0.000000
2      0.000000
3      0.000000
4      0.000000
         ...
775    0.173611
776    0.000000
777    0.000000
778    0.000000
779    0.000000
Name: Gender, Length: 780, dtype: float64

In [25]:

#Percentage and Count of Female Players
Male_percent = (Male_count / total)* 100
Male_percent

Male                     113.194444
Female                    19.618056
Other / Non-Disclosed      2.604167
Name: Gender, dtype: float64

In [96]:

#Percentage and Count of Other / Non-Disclosed
other_percent = (Female_count / total)* 100
Fmeale_percent

NameError: name 'Female_count' is not defined

In [21]:
# PURCHASE ANALYSIS (GENDER)
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
purchase_data_df.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [95]:


#Create a summary data frame to hold the results
# Calculations can also be performed on Series and added into DataFrames as new columns
#thousands_of_dollars = data_file_df["Amount"]/1000
data_f_df["Female"] = Female_percent
data_f_df.head()

NameError: name 'Female_percent' is not defined

In [ ]:

#Optional: give the displayed data cleaner formatting

In [ ]:

#Display the summary data frame

In [ ]:
 
#Establish bins for ages

In [ ]:
#Categorize the existing players using the age bins. Hint: use pd.cut()

In [ ]:

#Calculate the numbers and percentages by age group

In [ ]:

#Create a summary data frame to hold the results

In [ ]:

#Optional: round the percentage column to two decimal points

In [ ]:

#Display Age Demographics Table

In [ ]:
Bin the purchase_data data frame by age

In [ ]:

Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below

In [ ]:

Create a summary data frame to hold the results

In [ ]:

Optional: give the displayed data cleaner formatting

In [ ]:

Display the summary data frame

In [ ]:
Run basic calculations to obtain the results in the table below

In [ ]:

Create a summary data frame to hold the results

In [ ]:

Sort the total purchase value column in descending order

In [ ]:

Optional: give the displayed data cleaner formatting

In [ ]:

Display a preview of the summary data frame

In [ ]:
Most Popular Items
 
Retrieve the Item ID, Item Name, and Item Price columns

In [ ]:

Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value

In [ ]:
Create a summary data frame to hold the results

In [ ]:

Sort the purchase count column in descending order

In [ ]:


Optional: give the displayed data cleaner formatting

In [ ]:


Display a preview of the summary data frame