In [294]:
%matplotlib notebook

In [402]:
# Dependencies and Setup
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np


# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
initial_df = pd.read_csv(file_to_load)
purchase_data_df = initial_df.copy()
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [296]:
Total_Number_of_Players_df = purchase_data_df.loc[:,[ "SN", "Age", "Gender"]]
Total_Number_of_Players_df = Total_Number_of_Players_df.drop_duplicates()
total_players = Total_Number_of_Players_df.drop_duplicates().count()[0]

#create display dataframe
df = pd.DataFrame({"Total Players": [total_players]})
df

   Total Players
0            576

In [297]:
#Run basic calculations to obtain number of unique items, average price, etc.

item_count = len(purchase_data_df["Item ID"].unique())
item_count

avg = purchase_data_df["Price"].mean()
avg

total_price = purchase_data_df["Price"].sum()
total_price

total_items = purchase_data_df["Item ID"].count()
total_items

780

In [298]:
#Create a summary data frame to hold the results
# Number of Unique Items
      
    
summary_df = pd.DataFrame({"Number of Unique Items": [item_count],
                           "Average Price": [avg],
                          "Number of Purchases": [total_items],
                          "Total Revenue": [total_price]})

summary_df.dtypes

Number of Unique Items      int64
Average Price             float64
Number of Purchases         int64
Total Revenue             float64
dtype: object

In [299]:
# Optional: give the displayed data cleaner formatting

summary_df['Average Price'] = summary_df['Average Price'].map("${:.2f}".format)
summary_df['Total Revenue'] = summary_df['Total Revenue'].map("${:.2f}".format)

#Display the summary data frame
summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

In [300]:
# Filter the data so that only Male in a DataFrame
gender_count = Total_Number_of_Players_df["Gender"].value_counts()
gender_count

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [301]:
 ##create display dataframe
gender_summary_df =  pd.DataFrame({"Total Players": gender_count, "Percentage": (gender_count/total_players)*100}) 
gender_summary_df['Percentage'] = gender_summary_df['Percentage'].map("{:.2f}%".format)
gender_summary_df

                       Total Players Percentage
Male                             484     84.03%
Female                            81     14.06%
Other / Non-Disclosed             11      1.91%

In [302]:
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [303]:
purchase_data_df.Price.mean()

3.050987179487176

In [304]:
purchase_count = purchase_data_df.groupby("Gender").count()['Purchase ID']
purchase_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [305]:
avg = purchase_data_df.groupby("Gender").Price.mean()
avg

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [306]:
gender_count_F = Total_Number_of_Players_df["Gender"].value_counts()["Female"]
gender_count_F

81

In [307]:
s_total = purchase_data_df.groupby("Gender").Price.sum()
s_total

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [308]:
#average_item_price = purchase_data_df["Price"].mean()
pid = s_total /gender_summary_df["Total Players"]
pid

Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [309]:
##create display dataframe
purchases_summary_df =  pd.DataFrame({"Purchase Count": purchase_count, 
                                     "Average Purchase Price": (avg),
                                      "Total Purchase Value": s_total, 
                                    "Avg Total Purchase Per Person": pid}) 

purchases_summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [310]:
#display formated data
purchases_summary_df['Average Purchase Price'] = purchases_summary_df['Average Purchase Price'].map("${:.2f}".format)
purchases_summary_df['Total Purchase Value'] = purchases_summary_df['Total Purchase Value'].map("${:.2f}".format)
purchases_summary_df['Avg Total Purchase Per Person'] = purchases_summary_df['Avg Total Purchase Per Person'].map("${:.2f}".format)
purchases_summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [403]:
#display basic stats
purchase_data_df.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [407]:
#Categorize the existing players using the age bins. Hint: use pd.cut() 
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9,34.9,39.9, 49.9]

# Create the names for the five bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34","35-39","40+"]
purchase_data_df["Age Category"] = pd.cut(purchase_data_df["Age"], bins, labels=group_names, include_lowest=True) 
purchase_data_df.count()

Purchase ID     780
SN              780
Age             780
Gender          780
Item ID         780
Item Name       780
Price           780
Age Category    780
dtype: int64

In [383]:
#purchase_data_df.groupby('Age Category')
grouped_usa_df = purchase_data_df.groupby(['Age Category'])
del purchase_data_df['Test Score Summary']
#print(grouped_usa_df)
grouped_usa_df.count()

              Purchase ID   SN  Age  Gender  Item ID  Item Name  Price
Age Category
<10                    23   23   23      23       23         23     23
10-14                  28   28   28      28       28         28     28
15-19                 136  136  136     136      136        136    136
20-24                 365  365  365     365      365        365    365
25-29                 101  101  101     101      101        101    101
30-34                  73   73   73      73       73         73     73
35-39                  41   41   41      41       41         41     41
40+                    13   13   13      13       13         13     13

In [ ]:

bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9,34.9,39.9, 49.9]

# Create the names for the five bins
group_ages = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34","35-39","40+"]
Total_Number_of_Players_df["Age Category"] = pd.cut(Total_Number_of_Players_df["Age"], bins, labels=group_ages, include_lowest=True) 

#Create a summary data frame to hold the results
grouped_age_df = Total_Number_of_Players_df.groupby(['Age Category'])

#get age column
grouped_age_df[['Age']].count()

#Calculate percentage
age_percentage = (((grouped_age_df[['Age']].count())/total_players)* 100) #.map("{:.2f}".format)
age_percentage

grouped_age_df = grouped_age_df.rename(columns={"Age": "Total Count"})
                                        
#add new column for percentage
#grouped_age_df["Percentage of Players"] = grouped_age_df[['Age', age_percentage ]].count()

In [ ]:



##create display dataframe

In [ ]:

#Optional: round the percentage column to two decimal points

In [ ]:

#Display Age Demographics Table

In [406]:
#PURCHASE ANALYSIS (AGE)
#Bin the purchase_data data frame by age
grouped_usa_df = purchase_data_df.groupby(['Age Category'])
del purchase_data_df['Test Score Summary']
#print(grouped_usa_df)
grouped_usa_df.count()

KeyError: 'Test Score Summary'

In [ ]:

#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below

In [ ]:

#Create a summary data frame to hold the results

In [ ]:

#Optional: give the displayed data cleaner formatting

In [ ]:

#Display the summary data frame

In [ ]:
#Run basic calculations to obtain the results in the table below

In [ ]:

#Create a summary data frame to hold the results

In [ ]:

#Sort the total purchase value column in descending order

In [ ]:

#Optional: give the displayed data cleaner formatting

In [ ]:

#Display a preview of the summary data frame

In [ ]:
#Most Popular Items
 
#Retrieve the Item ID, Item Name, and Item Price columns

In [ ]:

#Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value

In [ ]:
#Create a summary data frame to hold the results

In [ ]:

#Sort the purchase count column in descending order

In [ ]:


#Optional: give the displayed data cleaner formatting

In [ ]:


#Display a preview of the summary data frame