### Created by Burnetta Wood
### This file analyses the Heroes of Pymoli and produce summary results

In [1]:
%matplotlib notebook

In [2]:
# Dependencies and Setup
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np


# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
initial_df = pd.read_csv(file_to_load)
purchase_data_df = initial_df.copy()
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

### Player Count

In [3]:
Total_Number_of_Players_df = purchase_data_df.loc[:,[ "SN", "Age", "Gender"]]
Total_Number_of_Players_df = Total_Number_of_Players_df.drop_duplicates()
total_players = Total_Number_of_Players_df.drop_duplicates().count()[0]

#create display dataframe
df = pd.DataFrame({"Total Players": [total_players]})
df

   Total Players
0            576

### Purchasing Analysis(Total)

In [4]:
#Run basic calculations to obtain number of unique items, average price, etc.

item_count = len(purchase_data_df["Item ID"].unique())
item_count

avg = purchase_data_df["Price"].mean()
avg

total_price = purchase_data_df["Price"].sum()
total_price

total_items = purchase_data_df["Item ID"].count()
total_items

780

In [5]:
#Create a summary data frame to hold the results
# Number of Unique Items
      
    
summary_df = pd.DataFrame({"Number of Unique Items": [item_count],
                           "Average Price": [avg],
                          "Number of Purchases": [total_items],
                          "Total Revenue": [total_price]})

summary_df.head()

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [6]:
# Optional: give the displayed data cleaner formatting

summary_df['Average Price'] = summary_df['Average Price'].map("${:.2f}".format)
summary_df['Total Revenue'] = summary_df['Total Revenue'].map("${:.2f}".format)

#Display the summary data frame
summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

### Gender Demographics

In [7]:
# Filter the data so that only Male in a DataFrame
gender_count = Total_Number_of_Players_df["Gender"].value_counts()
##create display dataframe
gender_summary_df =  pd.DataFrame({"Total Players": gender_count, "Percentage": (gender_count/total_players)*100}) 
gender_summary_df['Percentage'] = gender_summary_df['Percentage'].map("{:.2f}%".format)
gender_summary_df

                       Total Players Percentage
Male                             484     84.03%
Female                            81     14.06%
Other / Non-Disclosed             11      1.91%

### Purchasing Analysis (Gender)

In [8]:
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [9]:
purchase_data_df.Price.mean()

3.050987179487176

In [10]:
purchase_count = purchase_data_df.groupby("Gender").count()['Purchase ID']
avg = purchase_data_df.groupby("Gender").Price.mean()
gender_count_F = Total_Number_of_Players_df["Gender"].value_counts()["Female"]
s_total = purchase_data_df.groupby("Gender").Price.sum()
pid = s_total /gender_summary_df["Total Players"]

In [11]:
##create display dataframe
purchases_summary_df =  pd.DataFrame({"Purchase Count": purchase_count, 
                                     "Average Purchase Price": (avg),
                                      "Total Purchase Value": s_total, 
                                    "Avg Total Purchase Per Person": pid}) 

purchases_summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [12]:
#display formated data
purchases_summary_df['Average Purchase Price'] = purchases_summary_df['Average Purchase Price'].map("${:.2f}".format)
purchases_summary_df['Total Purchase Value'] = purchases_summary_df['Total Purchase Value'].map("${:.2f}".format)
purchases_summary_df['Avg Total Purchase Per Person'] = purchases_summary_df['Avg Total Purchase Per Person'].map("${:.2f}".format)
purchases_summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

### Age Demographics

In [13]:
#Categorize the existing players using the age bins. Hint: use pd.cut() 
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9,34.9,39.9, 49.9]

# Create the names for the five bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34","35-39","40+"]
purchase_data_df["Age Category"] = pd.cut(purchase_data_df["Age"], bins, labels=group_names, include_lowest=True)

In [14]:
# Insert groups for the five bins
Total_Number_of_Players_df["Age Category"] = pd.cut(Total_Number_of_Players_df["Age"], bins, labels=group_names, include_lowest=True) 

#Create a variable to hold data frame results
grouped_age = Total_Number_of_Players_df.groupby(['Age Category']).count()['Age']

#Calculate percentage and store in variable
#age_percentage = age_percentage[['Total','Percentage of Players']]
age_percentage = ((grouped_age/total_players)* 100)

In [15]:
#create dataframe to display values for count and percentage of age
age_demo_analysis_df = pd.DataFrame({"Total Count": grouped_age , "Percentage of Players":age_percentage}, dtype=np.float)  
age_demo_analysis_df['Percentage of Players'] = age_demo_analysis_df['Percentage of Players'].map("{:.2f}%".format)     


#Display Age Demographics Table
age_demo_analysis_df

              Total Count Percentage of Players
Age Category
<10                  17.0                 2.95%
10-14                22.0                 3.82%
15-19               107.0                18.58%
20-24               258.0                44.79%
25-29                77.0                13.37%
30-34                52.0                 9.03%
35-39                31.0                 5.38%
40+                  12.0                 2.08%

### Purchasing Analysis(AGE)

In [16]:
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
#Bin the purchase_data data frame by age group category

total_purchase_val = purchase_data_df.groupby(["Age Category"]).sum()["Price"].rename("Total Purchase Value")
avg_purchase_price = purchase_data_df.groupby(["Age Category"]).mean()["Price"].rename("Average Purchase Price")
total_purchase_count = purchase_data_df.groupby(["Age Category"]).count()["Price"].rename("Purchase Count")

# Calculate  Purchasing (Average Purchase Total per Person)
avg_purchase_per_person =  total_purchase_val / age_demo_analysis_df['Total Count']

# Create DataFrame for purchase analysis
Purchase_Analysis_df = pd.DataFrame({"Purchase Count": total_purchase_count,
                         "Average Purchase Price": avg_purchase_price, 
                         "Total Purchase Value": total_purchase_val, 
                         "Totals": avg_purchase_per_person
                        })

In [17]:

#Optional: give the displayed data cleaner formatting
Purchase_Analysis_df["Average Purchase Price"] = Purchase_Analysis_df["Average Purchase Price"].map("${:,.2f}".format)
Purchase_Analysis_df["Total Purchase Value"] = Purchase_Analysis_df["Total Purchase Value"].map("${:,.2f}".format)
Purchase_Analysis_df ["Purchase Count"] = Purchase_Analysis_df["Purchase Count"].map("{:,}".format)
Purchase_Analysis_df["Avg Total Purchase per Person"] = Purchase_Analysis_df["Totals"].map("${:,.2f}".format)

Purchase_Analysis_df = Purchase_Analysis_df.loc[:, ["Purchase Count", 
                                                    "Average Purchase Price", 
                                                    "Total Purchase Value", 
                                                    "Avg Total Purchase per Person"]]

# Display the Purchase Analysis Table
Purchase_Analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Category,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

### TOP SPENDERS

In [18]:

#Run basic calculations to obtain the results in the table below

top_spenders_purchase_count = purchase_data_df.groupby(["SN"]).count()["Purchase ID"].rename("Purchase Count")
top_spenders_purchase_avg = purchase_data_df.groupby(["SN"]).mean()["Price"].rename("Average Purchase Price")
top_spenders_purchase_val = purchase_data_df.groupby(["SN"]).sum()["Price"].rename("Total Purchase Value")
Total_Number_of_Players_df

top_spenders_df = pd.DataFrame({"Purchase Count": top_spenders_purchase_count,
                               "Average Purchase Price": top_spenders_purchase_avg,
                                "Total Purchase Value": top_spenders_purchase_val
                               }, dtype=np.float)


# Sort Values for display 
#Sort the total purchase value column in descending order
#Create a summary data frame to hold the results
#Display a preview of the summary data frame
top_spenders_df = top_spenders_df.sort_values("Total Purchase Value", ascending=False)
#Optional: give the displayed data cleaner formatting
top_spenders_df["Purchase Count"] = top_spenders_df["Purchase Count"].round(0).astype(int)
top_spenders_df["Average Purchase Price"] = top_spenders_df["Average Purchase Price"].map("${:,.2f}".format)
top_spenders_df["Total Purchase Value"] = top_spenders_df["Total Purchase Value"].map("${:,.2f}".format)


top_spenders_df.head(5)

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

### Most Popular Items

In [19]:
#Retrieve the Item ID, Item Name, and Item Price columns
popular_items = purchase_data_df.loc[:,["Item ID", "Item Name", "Price"]]
popular_items

#Retrieve the Item ID, Item Name, and Item Price columns
# total_item_purchase = popular_items.groupby(["Item ID"]).sum()['Price']
# avg_item_purchase = popular_items.groupby(["Item ID"]).mean()['Price']
# count_item_purchase = popular_items.groupby(["Item ID"]).count()['Price']
# item_name = popular_items.groupby(["Item ID", "Item Name"])

#Retrieve the Item ID, Item Name, and Item Price columns
total_item_purchase = popular_items.groupby(["Item ID", "Item Name"]).sum()['Price']
avg_item_purchase = popular_items.groupby(["Item ID", "Item Name"]).mean()['Price']
count_item_purchase = popular_items.groupby(["Item ID", "Item Name"]).count()['Price']

# add calculations to dataframe
popular_items_df = pd.DataFrame({"Purchase Count":count_item_purchase,
                               "Item Price":avg_item_purchase, 
                                "Total Purchase Value": total_item_purchase})
#format the data
popular_items_df["Item Price"] = popular_items_df["Item Price"].map("${:,.2f}".format)
popular_items_df["Total Purchase Value"] = popular_items_df["Total Purchase Value"].map("${:,.2f}".format)

most_popular_items = popular_items_df.sort_values('Purchase Count', ascending=False)
most_popular_items.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

### Most Profitable Items

In [30]:
popular_items_df = popular_items_df.reset_index(drop=True)


most_profitable_items = popular_items_df.sort_values('Total Purchase Value',  ascending=False)
most_profitable_items.head(5)

     level_0  index  Purchase Count Item Price Total Purchase Value
61        61     61               2      $4.99                $9.98
28        28     28               5      $1.98                $9.90
169      169    169               2      $4.93                $9.86
36        36     36               4      $2.37                $9.48
139      139    139               6      $1.56                $9.36