In [2]:
%matplotlib notebook

In [3]:
# Dependencies and Setup
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np


# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
initial_df = pd.read_csv(file_to_load)
purchase_data_df = initial_df.copy()
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
Total_Number_of_Players_df = purchase_data_df.loc[:,[ "SN", "Age", "Gender"]]
Total_Number_of_Players_df = Total_Number_of_Players_df.drop_duplicates()
total_players = Total_Number_of_Players_df.drop_duplicates().count()[0]

#create display dataframe
df = pd.DataFrame({"Total Players": [total_players]})
df

   Total Players
0            576

In [5]:
#Run basic calculations to obtain number of unique items, average price, etc.

item_count = len(purchase_data_df["Item ID"].unique())
item_count

avg = purchase_data_df["Price"].mean()
avg

total_price = purchase_data_df["Price"].sum()
total_price

total_items = purchase_data_df["Item ID"].count()
total_items

780

In [6]:
#Create a summary data frame to hold the results
# Number of Unique Items
      
    
summary_df = pd.DataFrame({"Number of Unique Items": [item_count],
                           "Average Price": [avg],
                          "Number of Purchases": [total_items],
                          "Total Revenue": [total_price]})

summary_df.dtypes

Number of Unique Items      int64
Average Price             float64
Number of Purchases         int64
Total Revenue             float64
dtype: object

In [7]:
# Optional: give the displayed data cleaner formatting

summary_df['Average Price'] = summary_df['Average Price'].map("${:.2f}".format)
summary_df['Total Revenue'] = summary_df['Total Revenue'].map("${:.2f}".format)

#Display the summary data frame
summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

In [8]:
# Filter the data so that only Male in a DataFrame
gender_count = Total_Number_of_Players_df["Gender"].value_counts()
gender_count

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [9]:
 ##create display dataframe
gender_summary_df =  pd.DataFrame({"Total Players": gender_count, "Percentage": (gender_count/total_players)*100}) 
gender_summary_df['Percentage'] = gender_summary_df['Percentage'].map("{:.2f}%".format)
gender_summary_df

                       Total Players Percentage
Male                             484     84.03%
Female                            81     14.06%
Other / Non-Disclosed             11      1.91%

In [10]:
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [11]:
purchase_data_df.Price.mean()

3.050987179487176

In [12]:
purchase_count = purchase_data_df.groupby("Gender").count()['Purchase ID']
purchase_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [13]:
avg = purchase_data_df.groupby("Gender").Price.mean()
avg

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [14]:
gender_count_F = Total_Number_of_Players_df["Gender"].value_counts()["Female"]
gender_count_F

81

In [15]:
s_total = purchase_data_df.groupby("Gender").Price.sum()
s_total

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [16]:
#average_item_price = purchase_data_df["Price"].mean()
pid = s_total /gender_summary_df["Total Players"]
pid

Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [17]:
##create display dataframe
purchases_summary_df =  pd.DataFrame({"Purchase Count": purchase_count, 
                                     "Average Purchase Price": (avg),
                                      "Total Purchase Value": s_total, 
                                    "Avg Total Purchase Per Person": pid}) 

purchases_summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [18]:
#display formated data
purchases_summary_df['Average Purchase Price'] = purchases_summary_df['Average Purchase Price'].map("${:.2f}".format)
purchases_summary_df['Total Purchase Value'] = purchases_summary_df['Total Purchase Value'].map("${:.2f}".format)
purchases_summary_df['Avg Total Purchase Per Person'] = purchases_summary_df['Avg Total Purchase Per Person'].map("${:.2f}".format)
purchases_summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [19]:
#display basic stats
purchase_data_df.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [20]:
#Categorize the existing players using the age bins. Hint: use pd.cut() 
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9,34.9,39.9, 49.9]

# Create the names for the five bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34","35-39","40+"]
purchase_data_df["Age Category"] = pd.cut(purchase_data_df["Age"], bins, labels=group_names, include_lowest=True) 
purchase_data_df.count()

Purchase ID     780
SN              780
Age             780
Gender          780
Item ID         780
Item Name       780
Price           780
Age Category    780
dtype: int64

In [22]:
#AGE DEMOGRAPHICS 
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9,34.9,39.9, 49.9]

# Create the names for the five bins
group_ages = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34","35-39","40+"]
Total_Number_of_Players_df["Age Category"] = pd.cut(Total_Number_of_Players_df["Age"], bins, labels=group_ages, include_lowest=True) 

#Create a variable to hold data frame results
grouped_age = Total_Number_of_Players_df.groupby(['Age Category']).count()['Age']
grouped_age

#Calculate percentage and store in variable
age_percentage = ((grouped_age/total_players)* 100).map("{:.2f}".format)
age_percentage

Age Category
<10       2.95
10-14     3.82
15-19    18.58
20-24    44.79
25-29    13.37
30-34     9.03
35-39     5.38
40+       2.08
Name: Age, dtype: object

In [176]:
#age_demographics_totals = player_demographics["Age Ranges"].value_counts()
#age_demographics_percents = age_demographics_totals / num_players
#age_demographics = pd.DataFrame({"Total Count": age_demographics_totals, "Percentage of Players": age_demographics_percents})

In [175]:
create dataframe to display values for count and percentage of age
age_demo_analysis_df = pd.DataFrame({"Total Count": grouped_age , "Percentage of Players":age_percentage}, dtype=np.float)  
age_demo_analysis_df.dtypes

In [178]:

#Optional: round the percentage column to two decimal points
#gender_summary_df['Percentage'] = gender_summary_df['Percentage'].map("{:.2f}%".format)
 #= pd.DataFrame({"Total Count": grouped_age , "Percentage of Players": age_percentage })
#age_demo_analysis_df['Percentage of Players'] = age_demo_analysis_df['Percentage of Players'].map("{:.2f}%".format) #.format(float(Number))

In [52]:

#Display Age Demographics Table
age_demo_analysis_df

              Total Count Percentage of Players
Age Category
<10                  17.0                 2.95%
10-14                22.0                 3.82%
15-19               107.0                18.58%
20-24               258.0                44.79%
25-29                77.0                13.37%
30-34                52.0                 9.03%
35-39                31.0                 5.38%
40+                  12.0                 2.08%

In [70]:
#PURCHASE ANALYSIS (AGE)
#Bin the purchase_data data frame by age#Display grouped data by purchase
grouped_usa_df = purchase_data_df.groupby(['Age Category'])
grouped_usa_df.count()

              Purchase ID   SN  Age  Gender  Item ID  Item Name  Price
Age Category
<10                    23   23   23      23       23         23     23
10-14                  28   28   28      28       28         28     28
15-19                 136  136  136     136      136        136    136
20-24                 365  365  365     365      365        365    365
25-29                 101  101  101     101      101        101    101
30-34                  73   73   73      73       73         73     73
35-39                  41   41   41      41       41         41     41
40+                    13   13   13      13       13         13     13

In [219]:

#PURCHASE ANALYSIS (AGE)
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
#Bin the purchase_data data frame by age

total_purchase_val = purchase_data_df.groupby(["Age Category"]).sum()["Price"].rename("Total Purchase Value")
avg_purchase_price = purchase_data_df.groupby(["Age Category"]).mean()["Price"].rename("Average Purchase Price")
total_purchase_count = purchase_data_df.groupby(["Age Category"]).count()["Price"].rename("Purchase Count")

# Calculate  Purchasing (Average Purchase Total per Person)
avg_purchase_per_person =  total_purchase_val / age_demo_analysis_df['Total Count']

# Create DataFrame for purchase analysis
Purchase_Analysis_df = pd.DataFrame({"Purchase Count": total_purchase_count,
                         "Average Purchase Price": avg_purchase_price, 
                         "Total Purchase Value": total_purchase_val, 
                         "Totals": avg_purchase_per_person
                        })

#Optional: give the displayed data cleaner formatting
Purchase_Analysis_df["Average Purchase Price"] = Purchase_Analysis_df["Average Purchase Price"].map("${:,.2f}".format)
Purchase_Analysis_df["Total Purchase Value"] = Purchase_Analysis_df["Total Purchase Value"].map("${:,.2f}".format)
Purchase_Analysis_df ["Purchase Count"] = Purchase_Analysis_df["Purchase Count"].map("{:,}".format)
Purchase_Analysis_df["Avg Total Purchase per Person"] = Purchase_Analysis_df["Totals"].map("${:,.2f}".format)
Purchase_Analysis_df = Purchase_Analysis_df.loc[:, ["Purchase Count", 
                                                    "Average Purchase Price", 
                                                    "Total Purchase Value", 
                                                    "Avg Total Purchase per Person"]]

# Display the Purchase Analysis Table
Purchase_Analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Category,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [ ]:
#TOP SPENDERS
#Run basic calculations to obtain the results in the table below

In [ ]:

#Create a summary data frame to hold the results

In [ ]:

#Sort the total purchase value column in descending order

In [ ]:

#Optional: give the displayed data cleaner formatting

In [ ]:

#Display a preview of the summary data frame

In [ ]:
#Most Popular Items
 
#Retrieve the Item ID, Item Name, and Item Price columns

In [ ]:

#Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value

In [ ]:
#Create a summary data frame to hold the results

In [ ]:

#Sort the purchase count column in descending order

In [ ]:


#Optional: give the displayed data cleaner formatting

In [ ]:


#Display a preview of the summary data frame