In [2]:
%matplotlib notebook

In [4]:
# Dependencies and Setup
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np


# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [5]:
Total_Number_of_Players_df = purchase_data_df.loc[:,["SN", "Age", "Gender"]]
total = Total_Number_of_Players_df.drop_duplicates().count()[0]

df = pd.DataFrame({"Total Players": [total]})
df

   Total Players
0            576

In [6]:
#Run basic calculations to obtain number of unique items, average price, etc.

item_count = len(purchase_data_df["Item ID"].unique())
item_count

avg = purchase_data_df["Price"].mean()
avg

total_price = purchase_data_df["Price"].sum().astype("float")
total_price

total_items = purchase_data_df["Item ID"].count()
total_items

780

In [7]:
#Create a summary data frame to hold the results
# Number of Unique Items
      
    
summary_df = pd.DataFrame({"Number of Unique Items": [item_count],
                           "Average Price": [avg],
                          "Number of Purchases": [total_items],
                          "Total Revenue": [total_price]})

summary_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [8]:
summary_df['Total Revenue']

0    2379.77
Name: Total Revenue, dtype: float64

In [9]:
summary_df.dtypes

Number of Unique Items      int64
Average Price             float64
Number of Purchases         int64
Total Revenue             float64
dtype: object

In [10]:
#Optional: give the displayed data cleaner formatting

summary_df['Total Revenue'] = summary_df['Total Revenue'].map("${:.2f}".format)

In [11]:
#Display the summary data frame
summary_df

   Number of Unique Items  Average Price  Number of Purchases Total Revenue
0                     179       3.050987                  780      $2379.77

In [23]:
#Percentage and Count of Male Players
# column.value_counts()

# Create a dataframe of the average stats for each type of pokemon.\n",
  #  "pokemon_group = pokemon_type_df.groupby([\"Type 1\"])\n",
  #  "\n",     "pokemon_comparison_df = pokemon_group.mean()\n",

gender_count = purchase_data_df["Gender"].value_counts()
gender_count

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [ ]:
# Filter the data so that only those sightings in the US are in a DataFrame
male_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Male", columns]
male_df.head()

In [ ]:

# Reference multiple columns within a DataFrame
purchase_data_df[["Amount", "Gender"]].head()

In [27]:
gender_df = purchase_data_df.groupby(['Purchase ID', ''gender'])
gender_df.count()

KeyError: 'gender'

In [24]:
gender_group = purchase_data_df.groupby(["Gender"])
gender_group

In [15]:
Female_count = 

Female_percent = (Female_count / total)* 100
Female_percent

0.5208333333333333

In [25]:

#Percentage and Count of Female Players
Male_percent = (Male_count / total)* 100
Male_percent

Male                     113.194444
Female                    19.618056
Other / Non-Disclosed      2.604167
Name: Gender, dtype: float64

In [ ]:

#Percentage and Count of Other / Non-Disclosed
Female_percent = (Female_count / total)* 100
Fmeale_percent

In [21]:
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
purchase_data_df.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [ ]:


#Create a summary data frame to hold the results
# Calculations can also be performed on Series and added into DataFrames as new columns
thousands_of_dollars = data_file_df["Amount"]/1000
data_file_df["Thousands of Dollars"] = thousands_of_dollars

data_file_df.head()

In [ ]:

#Optional: give the displayed data cleaner formatting

In [ ]:

#Display the summary data frame

In [ ]:
 
#Establish bins for ages

In [ ]:
#Categorize the existing players using the age bins. Hint: use pd.cut()

In [ ]:

#Calculate the numbers and percentages by age group

In [ ]:

#Create a summary data frame to hold the results

In [ ]:

#Optional: round the percentage column to two decimal points

In [ ]:

#Display Age Demographics Table

In [ ]:
Bin the purchase_data data frame by age

In [ ]:

Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below

In [ ]:

Create a summary data frame to hold the results

In [ ]:

Optional: give the displayed data cleaner formatting

In [ ]:

Display the summary data frame

In [ ]:
Run basic calculations to obtain the results in the table below

In [ ]:

Create a summary data frame to hold the results

In [ ]:

Sort the total purchase value column in descending order

In [ ]:

Optional: give the displayed data cleaner formatting

In [ ]:

Display a preview of the summary data frame

In [ ]:
Most Popular Items
 
Retrieve the Item ID, Item Name, and Item Price columns

In [ ]:

Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value

In [ ]:
Create a summary data frame to hold the results

In [ ]:

Sort the purchase count column in descending order

In [ ]:


Optional: give the displayed data cleaner formatting

In [ ]:


Display a preview of the summary data frame